doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
                h1 Iniciar sesion en Uptask
                
                if locals.messages
                    .alertas 
                        each categoria in Object.keys(locals.messages)
                            each error in messages[categoria]
                                .alerta(class=`${categoria}`)
                                    p= error 
                  

                form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                    .campo 
                        label(for="email") Email 
                        input(type="email" name="email" placeholder="ingresa tu email" value= email)
                    .campo
                        label(for="password") Password 
                        input(type="password" name="password" placeholder="contraseña" value= password)
                    .campo 
                        input.boton(type="submit" value="Iniciar sesión")
                    .campo.acciones
                        a(href="/crear-cuenta") Aún no tienes cuenta? Crea una gratis

                        a(href="/reestablecer") Olvidaste tu contraseña? 
        
        script(src="/dist/bunble.js")