doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
                h1= nombrePagina

                p Coloca tu nueva contraseña
                  

                form#formulario.caja.caja-login(method="POST")
                    .campo 
                        label(for="password") Contraseña 
                        input(type="password" name="password" placeholder="nuevo password")
                    .campo.enviar
                        input.boton(type="submit" value="Reestablecer contraseña ")
                
        
        script(src="/dist/bunble.js")